h1{
    color: blue;
    background-color: yellow;
}


body{
    background-color: pink;
}

button{
    background-color: green;
    color: white;
}


.box{
    background-color: rgba(255, 0, 0, 0.445);
    display: inline-block;
    height: 60px;
    width:  60px;
}